.header img{
    height: 80px;
}
.header nav{
    background-color: black;
     font-size: 20px;
    line-height: 60px;

}
nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
nav a:hover{
    background-color:lightgray;
}
 .signOut-btn{
    color: white;
    text-decoration: none;
    padding: 20px;
    border: none;
    outline: none;
    background-color:black;
    font-size: 20px;
    cursor: pointer;
}
.signOut-btn:hover{
    background-color:lightgray ;
}
